openapi: 3.0.0
info:
  title: CrowdStrike Falcon
  description: CrowdStrike Falcon
  version: "1.0"
servers:
  - url: https://api.us-2.crowdstrike.com

paths:
  /alerts/queries/alerts/v2:
    get:
      security:
        - OAuth2: [alerts:read]
      operationId: GetQueriesAlertsV2
      description: "Query all alerts currently on CrowdStrike. This API will return a list of Alert IDs"
      parameters:
        - in: query
          name: include_hidden
          schema:
            default: true
            type: boolean
          description: "allows previously hidden alerts to be retrieved"
        - in: query
          name: offset
          schema:
            type: integer
          description: "The first detection to return, where 0 is the latest detection. Use with the offset parameter to manage pagination of results."
        - in: query
          name: limit
          schema:
            default: 10
            maximum: 10000
            minimum: 0
            type: integer
          required: true
          description: "The maximum number of detections to return in this response (default: 100; max: 10000). Use with the offset parameter to manage pagination of results."
        - in: query
          name: sort
          schema:
            type: string
          description: "Sort parameter takes the form <field|direction>. Direction can be either asc (ascending) or desc (descending) order. For example: status|asc or status|desc."
        - in: query
          name: filter
          schema:
            type: string
          description: "Filter Alerts using a query in Falcon Query Language (FQL).Filter fields can be any keyword field that is part of #domain.Alert"
        - in: query
          name: q
          schema:
            type: string
          description: "Search all detection metadata for the provided string"
      responses:
        "200":
          description: "OK"
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/AlertQueryResponse"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertQueryResponse"
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyMetaOnly"
        "429":
          description: "Too Many Requests"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyMetaOnly"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyMetaOnly"

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.us-2.crowdstrike.com/oauth2/token
          scopes:
            "apps:read": "Grants read access on apps resources"
            "apps:write": "Grants write access on apps resources"
            "aspm-admin:read": "Grants read access on aspm-admin resources"
            "aspm-admin:write": "Grants write access on aspm-admin resources"
            "aspm-falcon-admin:write": "Grants write access on aspm-falcon-admin resources"
            "aspm-user:read": "Grants read access on aspm-user resources"
            "aspm-user:write": "Grants write access on aspm-user resources"
            "aspm-viewer:read": "Grants read access on aspm-viewer resources"
            "cspm-registration:read": "Grants read access on cspm-registration resources"
            "cspm-remediation:write": "Grants write access on cspm-remediation resources"
            "cspm-sensormgmt:write": "Grants write access on cspm-sensormgmt resources"
            "custom-storage:read": "Grants read access on custom-storage resources"
            "custom-storage:write": "Grants write access on custom-storage resources"
            "devices:read": "Grants read access on devices resources"
            "devices:write": "Grants write access on devices resources"
            "falcon-container-cli:write": "Grants write access on falcon-container-cli resources"
            "fim:read": "Grants read access on fim resources"
            "iac:read": "Grants read access on iac resources"
            "iac:write": "Grants write access on iac resources"
            "identity-automation:read": "Grants read access on identity-automation resources"
            "identity-automation:write": "Grants write access on identity-automation resources"
            "identity-detections:read": "Grants read access on identity-detections resources"
            "identity-enforcement:read": "Grants read access on identity-enforcement resources"
            "identity-enforcement:write": "Grants write access on identity-enforcement resources"
            "identity-health:read": "Grants read access on identity-health resources"
            "identity-mfa-tool:write": "Grants write access on identity-mfa-tool resources"
            "kubernetes-protection-agent:write": "Grants write access on kubernetes-protection-agent resources"
            "mssp:read": "Grants read access on mssp resources"
            "provisioning:read": "Grants read access on provisioning resources"
            "provisioning:write": "Grants write access on provisioning resources"
            "real-time-response-app:write": "Grants write access on real-time-response-app resources"
            "recon-monitoring-rules:read": "Grants read access on recon-monitoring-rules resources"
            "recon-monitoring-rules:write": "Grants write access on recon-monitoring-rules resources"
            "sensor-installers:read": "Grants read access on sensor-installers resources"
            "snapshot:write": "Grants write access on snapshot resources"
            "usage-api:read": "Grants read access on usage-api resources"
            "usermgmt:read": "Grants read access on usermgmt resources"
            "usermgmt:write": "Grants write access on usermgmt resources"
            "zero-trust-assessment:read": "Grants read access on zero-trust-assessment resources"
  schemas:
    ReplyMetaOnly:
      type: object
      required:
        - meta
      properties:
        errors:
          type: array
          items:
            $ref: "#/components/schemas/APIError"
        meta:
            $ref: "#/components/schemas/MetaInfo"

    MetaInfo:
      type: object
      required:
        - query_time
        - trace_id
      properties:
        pagination:
          $ref: "#/components/schemas/Paging"
        powered_by:
          type: string
        query_time:
          type: number
          format: double
        trace_id:
          type: string
        writes:
          $ref: "#/components/schemas/Resources"

    APIError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        id:
          type: string
        message:
          type: string

    Paging:
      type: object
      required:
        - limit
        - offset
        - total
      properties:
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        total:
          type: integer
          format: int32

    Resources:
      type: object
      required:
        - resources_affected
      properties:
        resources_affected:
          type: integer
          format: int32

    AlertQueryResponse:
      type: object
      required:
        - meta
        - resources
      properties:
        errors:
          type: array
          items:
            $ref: "#/components/schemas/APIError"
        meta:
          $ref: "#/components/schemas/MetaInfo"
        resources:
          description: "Array of the Alerts requested"
          type: array
          items:
            type: string
            description: "Alert ID"
            example: "ddae18657d0a426db6afacce64c540a6:ngsiem:ddae18657d0a426db6afacce64c540a6:dd40545edb0e427aa50887c34e4178a1"
